{so_name, "eleveldb.so"}.

{port_sources, ["c_src/*.cc"]}.

{port_envs, [
             %% Make sure to set -fPIC when compiling leveldb
             {"CFLAGS", "$CFLAGS -fPIC"},
             {"CXXFLAGS", "$CXXFLAGS -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -Werror"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS -lleveldb -lsnappy -lstdc++"}
             ]}.
