%%-*- mode: erlang -*-
{eunit_opts, [verbose]}.
{so_name, "eleveldb.so"}.

{xref_checks, [undefined_function_calls]}.

{port_sources, ["c_src/*.cc"]}.

{erl_opts, [warnings_as_errors, debug_info]}.

{deps, [
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish.git", {tag, "2.0.6"}}}
       ]}.

{port_env, [
             {"DRV_CFLAGS", "$DRV_CFLAGS -I leveldb-2.0.18/include -I leveldb-2.0.18"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS leveldb-2.0.18//libleveldb.a -lsnappy -lstdc++"}
             ]}.

